.beetle-auto-complete {
  ul {
    list-style: none;
    border: $border-width solid $border-color;
    border-radius: $border-radius;
    padding: 2px 0;
    width: 300px;
    li {
      height: 2em;
      line-height: 2em;
      text-indent: 1em;
      margin: 0;
      transition: background-color 0.3s;
      &:hover {
        background-color: lighten($primary, 40);
        cursor: pointer;
      }
    }
  }
}
