/*
 * @Author: Censwin
 * @Date: 2021-10-24 20:52:53
 * @LastEditTime: 2021-10-24 22:31:18
 * @Description: 
 * @FilePath: /beetle-design/src/components/Progress/_style.scss
 */
.beetle-progress-bar {
  width: 100%;
  height: 3px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  .bar-inner {
    position: relative;
    flex-grow: 2;
    width: 100%;
    height: 100%;
    background-color: $light-bg;
    overflow: hidden;
    border-radius: 3px;
    .progress {
      position: absolute;
      height: 100%;
      background-color: $primary;
    }
  }
  .progress-text {
    font-size: $font-size-sm;
    color: $gray-600;
    transform: scale(0.7);
  }
}
