.alert {
  width: 100%;
  padding: $alert-padding-y $alert-padding-x;
  margin: $alert-margin-bottom;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  p,
  h5 {
    margin-bottom: 0;
  }
  .close-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(0.6);
    right: 0.6rem;
    cursor: pointer;
    opacity: 0.5;
  }
}

.alert-error {
  @include alert-style($danger);
}

.alert-info {
  @include alert-style($primary);
}

.alert-success {
  @include alert-style($success);
}

.alert-warning {
  @include alert-style($warning);
}
