.alert {
  width: 100%;
  padding: $alert-padding-y $alert-padding-x;
  margin: $alert-margin-bottom;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  p,
  h5 {
    margin-bottom: 0;
  }
  .close-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.6rem;
    cursor: pointer;
    opacity: 0.5;
    font-size: 0.8rem;
  }
}

.alert-error {
  @include alert-style($danger);
}

.alert-info {
  @include alert-style($primary);
}

.alert-success {
  @include alert-style($success);
}

.alert-warning {
  @include alert-style($warning);
}

.Alert-wrapper-enter {
  transform: scale(0);
}

.Alert-wrapper-enter-active {
  transition: transform 0.3s;
  transform: scale(1);
}
.Alert-wrapper-exit {
  transform: scale(1);
}
.Alert-wrapper-exit-active {
  transition: transform 0.3s;
  transform: scale(0);
}
